.popup {
  background-color: #f9f9f9;
  overflow: hidden;
  max-height: 100%;
  &__header {
    display: flex;
    flex-flow: column;
    gap: 10px;

    &__close {
      content: url("https://api.iconify.design/eva/close-fill.svg?color=%239210CF&width=28&height=28");
      width: 28px;
      height: 28px;
      margin-left: -5px;

      &:hover {
        cursor: pointer;
      }
    }

    &__heading {
      color: #323f4b;
      font-weight: 600;
      font-size: 30px;
    }

    p {
      color: #52606d;
      font-weight: 600;
    }
  }

  &__content {
    margin-top: 20px;
    &__tasks {
      &__empty {
        width: fit-content;
        margin: auto;

        p {
          color: #52606d;
          font-weight: 600;
        }
      }
    }
  }
}
