.login-popup {
  width: 300px;
  min-height: 50vh;
}

.nav {
  width: 100vw;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #F0F0F0;
  padding-left: 30px;
  display: flex;
  align-items: center;
  padding-right: 30px;

  img {
    height: 80px;
  }
}

.landing {
  width: 100vw;
  height: calc(100vh - 30px);
  margin-top: 30px;
  background: #f9f9f9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  & div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    h1 {
      color: var(--primary);
      font-size: 40px;
    }

    button {
      border: solid 4px var(--primary);
      background-color: rgba(#5c0099, 0.2);
      color: #5c0099;
      font-weight: 700;
      font-size: 16px;
      padding: 15px 35px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  & img {
    transform: scale(1.8) rotate(-50deg);
  }
}

.container {
  display: grid;
}
