.product__small {
  width: 500px;
  height: 352px;
  color: #FFFFFF;
  border-right: 3px solid #E5E5E5;
  border-bottom: 3px solid #E5E5E5;
  &__image {
    width: 223px;
    height: 156px;
  }

  text-align: center;

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #47505a;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #47505a;
  }
}

.marginPls{
  margin-bottom: 10px;
}
