.container {
  width: 100vw;
  min-height: 100vh;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  padding-top: 90px;
  overflow-x: hidden;

  & > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  & h1 {
    color: #5c0099;
    font-weight: 600;
    font-size: 28px;
  }

  & > div:nth-child(2) {
    justify-content: center;
    position: relative;
  }

  .cartIcon {
    height: 30px;
    filter: contrast(0%);
    // margin: 13px 30px auto auto;
    cursor: pointer;
  }

  .searchBar {
    position: relative;
    margin-left: 50vw;
    transform: translateX(-50%);

    & input {
      width: 65vw;
      height: 70px;
      border: 3px solid #e4e7eb;
      border-radius: 6px;
      color: #616e7c;
      font-weight: 600;
      font-size: medium;
      padding: 20px;
      outline: none !important;
    }

    & .searchIcon {
      position: absolute;
      // top: 20px;
      top: 22.5px;
      bottom: 0;
      right: 20px;
      height: 25px;
      filter: contrast(0%);
    }
  }

  & > div:nth-child(4) {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 50px;
    border-radius: 3px;
    margin: 30px 10px;
    width: 350px;

    & > img {
      width: 175px;
      margin-bottom: 15px;
    }

    & > h2 {
      color: #47505a;
      margin-bottom: 10px;
    }

    & > h4 {
      color: #616e7c;
      font-weight: normal;
      margin-bottom: 15px;
    }

    & > div {
      display: flex;
      width: 50%;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      & > button {
        border: none;
        background: none;
        color: #d4af37;
        font-size: 20px;
        cursor: pointer;
      }

      & > h3 {
        color: #5c0099;
      }
    }
  }
}

.btn-primary {
  height: 50px;
  padding-right: 12px;
  padding-left: 12px;
  border: solid 4px var(--primary);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary);
  background-color: rgba(#5c0099, 0.2);
  cursor: pointer;
  margin-top: 10px;

  transition: all 0.2s;
  &:hover {
    background-color: rgba(#5c0099, 0.3);
  }
}


.nav{
  width: 100vw;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #F0F0F0;
  padding-left: 30px;
  display: flex;
  align-items: center;
  padding-right: 30px;
}