.text-field {
  // &__label {
  //   font-size: 16px;
  //   font-weight: 600;
  //   color: var(--primary);
  //   margin-bottom: 8px;
  // }

  &__input {
    height: 65px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: solid 4px;
    font-size: 16px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 500;
    color: var(--cool-grey-800);
    transition: all 0.3s ease-in;

    &--long {
      padding-top: 14px;
      resize: none;
    }

    &:focus {
      border-color: var(--primary);
    }
  }
}
