.fab {
  height: 64px;
  width: 64px;
  position: fixed;
  bottom: 40px;
  right: 50px;
  border-radius: 50%;
  outline: none;
  box-shadow: none;
  background-color: var(--primary);
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  cursor: pointer;
}
