.main {
  background-color: #f9f9f9;
  height: 100vh;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__heading {
    color: var(--cool-grey-800);
    font-weight: 700;
    font-size: 30px;
  }

  &__messages {
    padding-top: 20px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    overflow-y: auto;
  }
}
